
@{
    ViewBag.Title = "Pacha";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="container text-center">
    <div class="logo-404">
        <a href="@Url.Action("Index","Home")">
            <h1 class="pacha-logo">Pacha</h1>
        </a>
    </div>
    <div class="content-404">
        <img src="/Content/img/404/404.png" class="img-responsive center-block" alt="" />
        <h1>Запрашиваваемая вами страница не найдена</h1>
        <p>Неправильно набран адрес или такой страницы не существует. Для возвращения на сайт, нажмите "домой".</p>
        <a class="btn btn-default back-home-404" href="@Url.Action("Index","Home")">
            <i class="fa fa-home"></i>
            Домой
        </a>
    </div>
</div>